# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ae31d45070b7c2512f7cc9f0b79d952b3ce75a2308c5120f9eb8411a0faf5fad824e407b7fa629368d55926027aba0e1c1aca3356e8f26750508cd0e0b70ce04

test:
  secret_key_base: 20b4f6a81a5f5d1b5009d2563c8261bfbc951d736872295f8276635c05d8123f5b74a07334e18762bdbc40616825cbe2b31ee84c9b0b4118780b99c0f6e622dc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
