# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f41e32e96c8b8afd935c007f8db0de47d6df450d71b5748d12969f0cacd6b85aa59a44ef5989ae09dd56adeb85877e9bbee126702d4616f031d88c98240722ae

test:
  secret_key_base: 9ac2d45cb17ce18cfee4cf37cfcd5c18f7d9ce4364da550b263b05f106c0e312e0fe65eb44edee9b7a2a22ca941f200c3058b8d108ac8f70ddf895b7951287cb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
