    <header class="header" >
      <div id="top" class="header">
        <div class="vert-text">
        <img class="img-rounded" alt="Company Logo" src="assets/logo.jpg"/>
        <h2><em><%= (t ".title_welcome" ) %></em></h2>
        <ul class="list-inline">
          <li><i class="fa fa-facebook fa-3x"></i></li>
          <li><i class="fa fa-instagram fa-3x"></i></li>
          <li><i class="fa fa-flickr fa-3x"></i></li>
        </ul>
        <br>
          <a href="#about" class="btn btn-top"><%= t ".title_login" %></a>
          </div>
        </div>
        <!-- /Header Area -->
        <div id="nav">
        <!-- Navigation -->
        <nav class="navbar navbar-new" role="navigation">
       <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobilemenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a href="#" class="navbar-brand">Slidefolio</a>
      </div>
      <div class="collapse navbar-collapse" id="mobilemenu">

        <ul class="nav navbar-nav navbar-right text-center">
          <li><a href="#top"><i class="service-icon fa fa-home"></i>&nbsp;Home</a></li>
            <li><a href="#about"><i class="service-icon fa fa-info"></i>&nbsp;About</a></li>
            <li><a href="#services"><i class="service-icon fa fa-laptop"></i>&nbsp;Services</a></li>
            <li><a href="#portfolio"><i class="service-icon fa fa-camera"></i>&nbsp;Portfolio</a></li>
            <li><a href="#contact"><i class="service-icon fa fa-envelope"></i>&nbsp;Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
    </nav>
        <!-- /Navigation -->
    </div>
    </header>
